* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60vh;
  height: 80vh;
  background-color: #797978;
  display: flex;
  align-items: center;
  justify-content: center;
}
.twoBox{
    text-align: center;
    width: 100%;
    /* background-color: red; */
}
.box>h1{
    margin-bottom: 20px;
    text-align: center;
}

label {
  font-size: 22px;
}

#results {
  font-size: 35px;
  text-align: center;
  color: #212121;
  transition: all 0.3s ease-in;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

button {
  margin: 20px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
}

input{
    font-size: 16px;
    padding-left: 5px;
}

input:focus {
  outline: none;
  border: 2px solid black;
}

#weight-guide {
    text-align: center;
  max-width: 90%;

  & h3 {
    font-size: 25px;
    font-weight: 700;
  }
}

#results.active{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}


@media only screen and (max-width: 600px){
    .container {
        
        width: 50vh;
      }
      .twoBox{
          text-align: center;
          & label{
            display: inline-block;
              width: 100%;
          }
          /* background-color: red; */
      }
      .box>h1{
          margin-bottom: 20px;
          text-align: center;
      }
      
      label {
        text-align: center;
        font-size: 22px;
      }
      
      #results {
        font-size: 35px;
        text-align: center;
        color: #212121;
        transition: all 0.3s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
      }
      
      button {
        margin: 20px;
        background-color: #fff;
        padding: 1px 30px;
        border-radius: 8px;
        color: #212121;
        text-decoration: none;
        border: 2px solid #212121;
        font-size: 25px;
      }
      
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
      }
      
      h1 {
        padding-left: 15px;
        padding-top: 25px;
      }
      
      input{
          font-size: 16px;
          padding-left: 5px;
      }
      
      input:focus {
        outline: none;
        border: 2px solid black;
      }
      
      #weight-guide {
          text-align: center;
        max-width: 90%;
      
        & h3 {
          font-size: 25px;
          font-weight: 700;
        }
      }
      
      #results.active{
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
      }
      
}